<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Awesome Shop | About Us</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <style>
        .nav-bar{
            background-image: url("/product_images/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
            background-size: 100% 100%; 
            background-repeat: no-repeat;
            padding: 10%;
        }
        .brand-logo {
            margin-right: auto; 
        }
        .btn{
            background-color:  #A32CC4;;
            height: 33px;
            border: 2px solid gray; 
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            outline: none;
            color: white;
            padding: 5px;
        }
        a:hover{
            color: black;
            text-decoration: none;
            background-color: #ddd;
        }
    </style>
    <body>
       
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Awesome Shop</a>
                   
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <% pages.forEach(function(page){ %>
                        <% if (page.slug == "home") { %>
                        <li><a href="/"><%= page.title %></a></li>
                        <% } else {%>
                        <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
                        <% } %>
                        <% }); %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/cart/checkout">
                                <i style="font-size:24px" class="fa">&#xf07a;</i>
                                My Cart (
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>
                                0
                                <% } %>
                            )</a>

                        </li>
                        <% if (user) { %>
                        <li><a href="/users/logout">
                            <i style="font-size:24px" class="fa">&#xf08b;</i>
                            Hi, <%= user.username %> ( logout )</a></li>
                        <% } else {%>
                        <li><a href="/users/register">
                            <i style="font-size:24px" class="fa">&#xf007;</i>
                            Register</a></li>
                        <li><a href="/users/login">
                            <i style="font-size:24px" class="fa">&#xf090;</i>
                            Log in</a></li>
                        <% } %>
                        <% if (user && user.admin == 1) { %>
                        <li><a href="/admin/pages">
                            <i style="font-size:24px" class="fa">&#xf2b9;</i>
                            Admin Area</a></li>
                        <% }%>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <%- messages('messages', locals) %>
            
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>
    
             <!-- navbar -->
            <div class="nav-bar">
                <div class=" brand-logo" style="padding: 0;">
                   <p style="font-weight: bold;">Since 2020</p>
                    <a href="">
                        <h1 
                            style="color: #A32CC4;">Awesome<span class="font-style" 
                            style="color: rgb(51, 211, 51);">Shop</span>
                        </h1>
                    </a>
                    <p>Ready to wear dresses tailored for you from online. Hurry up while stock lasts</p><br>
                    <a href="/users/register">
                    </a>
                </div>
                <br><br><br><br><br><br>
            </div>

            <div class="row">
               <h1 style="text-align: center; margin-top: 5%;">ABOUT US</h1><br>
                <p style="font-size: 16px;">Awesome Shop is an ecommerce website which sell many products for customers. Awesome Shop create for who need clothing, accessories, and electronic devices that can keep up with their fast-paced lives and make them feel like their best selves. Customer can buy every items 24hours per day even on the weekend and pay for the product through online payment. All products have a suitable price and quanlity. Register and access the comfortable website</p><br><br>

            </div>
        </div>
        </div><!-- /.container -->
        <br><br><br>
        <hr>
        <p class="text-center">&COPY; Awesome Shop</p>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>