<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Awesome Shop | CONTACT US</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!--Get your own code at fontawesome.com-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!--Get your own code at fontawesome.com-->
    </head>

    <style>
        * {
            box-sizing: border-box;
        }
        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
        /*set vertical line*/
        .vl {
            border-left: 0.5px solid gainsboro;
            height: 250px;
            position: absolute;
            left: 35%;
            margin-left: -3px;
            margin-top: 15px;
        }
        .v2{
            border-left: 0.5px solid gainsboro;
            height: 250px;
            position: absolute;
            left: 66%;
            margin-left: -3px;
            margin-top: 15px;
        }
    </style>
    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Awesome Shop</a>
                   
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <% pages.forEach(function(page){ %>
                        <% if (page.slug == "home") { %>
                        <li><a href="/"><%= page.title %></a></li>
                        <% } else {%>
                        <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
                        <% } %>
                        <% }); %>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/cart/checkout">
                                <i style="font-size:24px" class="fa">&#xf07a;</i>
                                My Cart (
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>
                                0
                                <% } %>
                            )</a>

                        </li>
                        <% if (user) { %>
                        <li><a href="/users/logout">
                            <i style="font-size:24px" class="fa">&#xf08b;</i>
                            Hi, <%= user.username %> ( logout )</a></li>
                        <% } else {%>
                        <li><a href="/users/register">
                            <i style="font-size:24px" class="fa">&#xf007;</i>
                            Register</a></li>
                        <li><a href="/users/login">
                            <i style="font-size:24px" class="fa">&#xf090;</i>
                            Log in</a></li>
                        <% } %>
                        <% if (user && user.admin == 1) { %>
                        <li><a href="/admin/pages">
                            <i style="font-size:24px" class="fa">&#xf2b9;</i>
                            Admin Area</a></li>
                        <% }%>
                    </ul>
                   
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
               <h1 style="text-align: center;">CONTACT US</h1><br>

               <div class="row">
                    <div class="column" style="background-color:white;">
                        <h2>
                            <i style='font-size:24px' class='fas'>&#xf27a;</i>
                            Chat with us</h2><br>
                        <p>We’re available Monday through Friday from 9 AM to <br> 9 PM, and Saturday & Sunday from 10 AM to <br> 6 PM EST.</p><br>
                        <button type="button" class="btn btn-dark" style="box-shadow: 0 0 10px rgba(0,0,0,0.2);">Chat now</button>
                    </div>
                    <div class="vl"></div>
                    <div class="column" style="background-color:white;">
                        <h2>
                            <i style='font-size:24px' class='fas'>&#xf879;</i>
                            Give a call</h2><br>
                        <p>We’re available Monday through Friday from 9 AM to 9 PM, and Saturday & Sunday from 10 AM to 6 PM EST.</p><br>
                        <h4>CUSTOMER SERVICE</h4>
                        <p>+855 11 22 333</p>
                    </div>
                    <div class="v2"></div>
                    <div class="column" style="padding-left: 60px;">
                        <h2>
                            <i style="font-size:24px" class="fa">&#xf0e0;</i>
                            Write to us</h2><br>
                        <p>Fill out our form and a Style Consultant will contact you.</p><br>
                        <button type="button" class="btn btn-dark" style="box-shadow: 0 0 10px rgba(0,0,0,0.2);">Write Now</button>
                    </div>
                </div>
        </div>
        </div><!-- /.container -->
        <br><br><br><br><br>
        <hr>
        <p class="text-center">&COPY; Awesome Shop</p>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>