<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        .nav-bar{
            background-image: url("/product_images/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
            background-size: 100% 100%; 
            background-repeat: no-repeat;
            padding: 10%;
        }
        .brand-logo {
            margin-right: auto; 
        }
        a:hover{
            color: black;
            text-decoration: none;
            background-color: #ddd;
        }
        .product-detail{
            width: 100%;
            height: 330px;
            border: 2px solid gray;
            padding: 15px;
            margin-top: 50px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .comment{
            width: 100%;
            height: 300px;
            padding: 15px;
            border: 2px solid gray;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: rgb(253, 250, 250);
        }
        .header1{
            float: right;
            margin-right: 430px;
            margin-top: 10px;
        }
        .vl {
            border-left: 0.5px solid rgb(236, 227, 227);
            height: 300px;
            position: absolute;
            left: 43%;
            margin-left: -3px;
        }
        .right-side{
            padding: 15px;
        }
        .last{
            height: 100px;
            width: 100%;
            border: 1px solid black;
            margin-top: 5%;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: rgb(253, 250, 250);
        }

        .flex-content {
            display: flex;
            color: white;
            flex-direction: row;  
        }
        .flex-content > div{
            align-items: center;
            margin: 10px;
        }
        .flex-content .content{
            margin-left: 1%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 2%;
            padding-top: 5px;
        }
        .content img{
            width:70px;
        }
        .content1 {
            background-color: rgb(241, 147, 163);
            width: 100%;
            border: solid 2px black;
            margin-left: 20px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .content2 {
            background-color:  rgb(243, 205, 134);
            width: 100%;
            border: solid 2px black;
            margin-left: 20px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .content3 {
            background-color: rgb(223, 126, 223);
            width: 100%;
            border: solid 2px black;
            margin-left: 30px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .header{
            margin-right: auto;
            margin-bottom: 80px;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        .btn{
            background-color: white;
            height: 25px;
            margin-bottom: 20px;
            border: 0.5 solid gray; 
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            outline: none;
            color: black;
            padding: 2px;
        }
        
    </style>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Awesome Shop</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <% pages.forEach(function(page){ %>
                        <% if (page.slug == "home") { %>
                        <li><a href="/"><%= page.title %></a></li>
                        <% } else {%>
                        <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
                        <% } %>
                        <% }); %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/cart/checkout">
                                <i style="font-size:24px" class="fa">&#xf07a;</i>
                                My Cart (
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>
                                0
                                <% } %>
                            )</a>
                        </li>
                        <%  { %>
                            <li><a href="/users/register">
                                <i style="font-size:24px" class="fa">&#xf007;</i>
                                Register</a></li>
                            <li><a href="/users/logout">
                                <i style="font-size:24px" class="fa">&#xf08b;</i>
                                Log out</a></li>
                            <% } %>
                            <% if (user && user.admin == 1) { %>
                            <li><a href="/admin/pages">Admin Area</a></li>
                            <% }%>
                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <%- messages('messages', locals) %>
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>

            <!-- navbar -->
            <div class="nav-bar">
                <div class=" brand-logo" style="padding: 0;">
                    <p style="font-weight: bold;">Since 2020</p>
                    <a href="">
                        <h1 
                        style="color: #A32CC4;">Awesome<span class="font-style" 
                            style="color:
                             rgb(51, 211, 51);">Shop</span>
                        </h1>
                    </a>
                </div>
                <p>Ready to wear dresses tailored for you from online. Hurry up while stock lasts</p><br>
                <br><br><br><br><br><br>
            </div>

            <br><br>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h3>
                        <i style="font-size:24px" class="fa">&#xf0c9;</i>
                        Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/products">All products</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-8">
                <div class="row">    
                    <div class="product-detail" style="background-color: rgb(253, 250, 250);">
                        <div class="col-xs-12 col-md-5">
                            <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
                            <br>
                        </div>

                        <div class="vl"></div>

                        <div class="col-xs-12 col-md-7">
                            <div class="right-side">
                                <p style="font-size: 40px; font-weight: bold;"><%= p.title %></p> 
                                <p><%= p.desc %></p>
                                <p style="color: rgb(163, 163, 236);">$<%= parseFloat(p.price).toFixed(2) %></p>
                                <!-- To show only add to cart if login  -->
                                <br><br><br><br>

                                <% if (loggedIn) { %>
                                <p><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
                                <% } else {%>
                                <p>You must be logged in to purchase items.</p>
                                <% } %>
                            </div>
                        </div>
                       

                        <div class="col-xs-12">
                            <ul class="gallery">
                                <% galleryImages.forEach(function(image){ %>
                                <% if (image != "thumbs") { %>
                                <li>
                                    <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                                        <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                                    </a>
                                </li>
                                <% } %>
                                <% }); %>
                            </ul>
                        </div>

                    </div>  
                    <!--comment box-->
                    <p style="font-weight: bold; font-size: 20px; margin-top: 5%;">Comment</p>
                    <div class="comment">
                        <img src="/images/person.png" alt="" width="15%" height="30%">
                        <div class="header1">
                          
                            <p style="color: blue; font-weight: bold;">Anonymous</p>
                            <p style="color: gray;">Today 4:21pm - 12.06.2020</p>
                        </div>
                        <p style="margin-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </div> 
                    <div class="comment">
                        <img src="/images/person.png" alt="" width="15%" height="30%">
                        <div class="header1">
                            <p style="color: blue; font-weight: bold;">Anonymous</p>
                            <p style="color: gray;">Today 4:21pm - 12.06.2020</p>
                        </div>
                        <p style="margin-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </div>  

                    <div class="last">
                        <p style="font-size: 20px; font-weight: bold;">Write your review here</p>
                    </div>
                     
                </div>
            </div>
        </div>
        </div><!-- /.container -->
        <br><br><br>
        <hr>
        <p class="text-center">&COPY; Awesome Shop</p>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>